body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    color: #333;
}

.menu {
    display: flex;
    flex-direction: column; /* Cambia la dirección de flexión a vertical */
    align-items: center; /* Centra los elementos horizontalmente */
}

.menu a {
    margin: 10px 0; /* Añade espacio entre los elementos */
    text-align: center; /* Alinea el texto en el centro */
    text-decoration: none; /* Elimina el subrayado predeterminado de los enlaces */
    color: #333; /* Color del texto */
}

.menu img {
    width: 100px; /* Ajusta el tamaño de las imágenes según tus necesidades */
    height: auto;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    display: block; /* Evita el espacio adicional debajo de la imagen */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}

.menu img:hover {
    transform: scale(1.1); /* Efecto de escala al pasar el ratón sobre la imagen */
}

.menu span {
    margin-top: 5px; /* Espacio entre la imagen y el texto */
    display: block; /* Mostrar el texto en una línea separada */
}
